<section class="container-fluid bg-content-2 p-0" id="one">
    
 
    <div class="d-flex justify-content-between">
        <div class="p-2 m-0 w-50 bd-highlight pt-5 d-none d-md-none d-lg-block" style="background: #ECE51C;">
            <img class="mt-5" src="../../../assets/img/electrobits-repuestos-electronicos-Nosotros.png" alt="electrobits-repuestos-electronicos-Nosotros-somos una tienda de venta">
        </div>
        <div class="p-2 flex-shrink-1 bd-highlight float-right text-justify p-5 d-none d-md-block d-lg-block pt-5 mt-5" style="height: 80vh;">
           <h1 class="text-capitalize float-right mr-5 title-content box1"> <span><</span>nosotros/></h1>
            <p class="p-5 parrafo text-dark float-right box1">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae qui, minima doloremque 
            earum praesentium error alias nesciunt corrupti. Eligendi at enim accusamus minima eveniet quos veritatis modi sed, fugiat soluta.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum praesentium consectetur architecto autem minus debitis Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit, accusamus?
            </p>
        </div>

        <div class="p-2 flex-shrink-1 bd-highlight float-right text-justify d-sm-block d-md-none d-lg-none box1  pt-5" style="background: #ECE51C;">
            <h1 class="text-capitalize float-right mr-5 mt-5 pt-5 title-content"> <span><</span>nosotros/></h1>
             <p class="p-5 parrafo text-dark float-right">
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae qui, minima doloremque 
             earum praesentium error alias nesciunt corrupti. Eligendi at enim accusamus minima eveniet quos veritatis modi sed, fugiat soluta.
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum praesentium consectetur architecto autem minus debitis Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit, accusamus?
             </p>
         </div>

      </div>

</section>