<section class="container-fluid bg-content-2 p-0 border-section" id="two">
    <div class="justify-content-center p-0 m-0">
        <div class="row m-0 p-5">
              <div class="col-lg-12 mx-auto mb-4 pb-5">
                  <h1 class="text-capitalize text-center  mt-5 title-content box2 pt-5"> <span><</span>Productos/></h1>
                <h5 class="text-capitalize font-weight-normal text-center mt-1 title-content"> Destacados</h5>
            </div>

            <div class="col-xl-6 box3">
                <div class="card flex-md-row mb-4 bg-light box-shadow h-md-250 border-0 text-card" style="background: #F3F3F3!important">
                    <div class="p-0 mt-3 bg-white rounded">
                        <img class="img-circuit p-4" width="200px"  src="../../../assets/img/electrobits-repuestos-ingenieria.png" alt="electrobits-repuestos-electronicos-concepcion-biobio-ingenieria.png">
                    </div>
                    
                    <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-1  text-capitalize font-weight-bold h3">Producto 1</strong>
                    <hr class="m-0" style="border: 4px solid #053F38; background: #053F38; width: 60%;">
                    
                        <p class="card-text mb-auto  mt-3 text-left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, eos.</p>
                       <div class="d-flex flex-row bd-highlight mb-3 mt-2 p-0">
                            <div class="bd-highlight"><p class="bg-precio rounded-0 p-2 pl-2 pr-2 mt-2 text-white h4">$ 18.000</p> </div>
                            <div class="bd-highlight d-none d-md-block d-lg-block">
                                <a href="#" target="_blank" class="p-3"><img src="../../../assets/img/electrobits-repuestos-ingenieria-webpay.png" width="170px" alt="electrobits-repuestos-ingenieria-webpay"></a>
                                
                            </div>
                            <div class="bd-highlight d-sm-block d-md-none d-lg-none">
                                <a href="#" target="_blank" class="p-3"><img src="../../../assets/img/electrobits-repuestos-ingenieria-webpay-movil.png" width="150px" alt="electrobits-repuestos-ingenieria-webpay"></a>
                            </div>
                          </div>
                          <!-- <a href="PDF/Producto1.pdf" target="_blank" class="btn text-white rounded-0" style="background: #FF3527;">Características<a> -->

                    </div>
                </div>
            </div>

            <div class="col-xl-6 box3">
                <div class="card flex-md-row mb-4 bg-light box-shadow h-md-250 border-0 text-card" style="background: #F3F3F3!important">
                    <div class="p-0 mt-3 bg-white rounded">
                        <img class="img-circuit p-4" width="200px"  src="../../../assets/img/electrobits-repuestos-ingenieria.png" alt="electrobits-repuestos-electronicos-concepcion-biobio-ingenieria.png">
                    </div>
                    
                    <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-1  text-capitalize font-weight-bold h3">Producto 1</strong>
                    <hr class="m-0" style="border: 4px solid #053F38; background: #053F38; width: 60%;">
                        <p class="card-text mb-auto  mt-3 text-left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, eos.</p>
                       
                        <div class="d-flex flex-row bd-highlight mb-3 mt-2 p-0">
                            <div class="bd-highlight"> <p class="bg-precio rounded-0 p-2 pl-2 pr-2 mt-2 text-white h4">$ 18.000</p> </div>
                            <div class="bd-highlight d-none d-md-block d-lg-block">
                                <a href="#" target="_blank" class="p-3"><img src="../../../assets/img/electrobits-repuestos-ingenieria-webpay.png" width="170px" alt="electrobits-repuestos-ingenieria-webpay"></a>
                            </div>
                            <div class="bd-highlight d-sm-block d-md-none d-lg-none">
                                <a href="#" target="_blank" class="p-3"><img src="../../../assets/img/electrobits-repuestos-ingenieria-webpay-movil.png" width="150px" alt="electrobits-repuestos-ingenieria-webpay"></a>
                            </div>
                          </div>
                      
                    </div>
                </div>
            </div>

            <div class="col-xl-6 mt-4 box3">
                <div class="card flex-md-row mb-4 bg-light box-shadow h-md-250 border-0 text-card" style="background: #F3F3F3!important">
                    <div class="p-0 mt-3 bg-white rounded">
                        <img class="img-circuit p-4" width="200px"  src="../../../assets/img/electrobits-repuestos-ingenieria.png" alt="electrobits-repuestos-electronicos-concepcion-biobio-ingenieria.png">
                    </div>
                    
                    <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-1  text-capitalize font-weight-bold h3">Producto 1</strong>
                    <hr class="m-0" style="border: 4px solid #053F38; background: #053F38; width: 60%;">
                        <p class="card-text mb-auto  mt-3 text-left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, eos.</p>
                       
                        <div class="d-flex flex-row bd-highlight mb-3 mt-2 p-0">
                            <div class="bd-highlight"> <p class="bg-precio rounded-0 p-2 pl-2 pr-2 mt-2 text-white h4">$ 18.000</p> </div>
                            <div class="bd-highlight d-none d-md-block d-lg-block">
                                <a href="#" target="_blank" class="p-3"><img src="../../../assets/img/electrobits-repuestos-ingenieria-webpay.png" width="170px" alt="electrobits-repuestos-ingenieria-webpay"></a>
                            </div>
                            <div class="bd-highlight d-sm-block d-md-none d-lg-none">
                                <a href="#" target="_blank" class="p-3"><img src="../../../assets/img/electrobits-repuestos-ingenieria-webpay-movil.png" width="150px" alt="electrobits-repuestos-ingenieria-webpay"></a>
                            </div>
                          </div>
                      
                    </div>
                </div>
            </div>

            <div class="col-xl-6  mt-4 pb-5 box3">
                <div class="card flex-md-row mb-4 bg-light box-shadow h-md-250 border-0 text-card" style="background: #F3F3F3!important">
                    <div class="p-0 mt-3 bg-white rounded">
                        <img class="img-circuit p-4" width="200px"  src="../../../assets/img/electrobits-repuestos-ingenieria.png" alt="electrobits-repuestos-electronicos-concepcion-biobio-ingenieria.png">
                    </div>
                    
                    <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-1  text-capitalize font-weight-bold h3">Producto 1</strong>
                    <hr class="m-0" style="border: 4px solid #053F38; background: #053F38; width: 60%;">
                        <p class="card-text mb-auto  mt-3 text-left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, eos.</p>
                       
                        <div class="d-flex flex-row bd-highlight mb-3 mt-2 p-0">
                            <div class="bd-highlight"> <p class="bg-precio rounded-0 p-2 pl-2 pr-2 mt-2 text-white h4">$ 18.000</p> </div>
                            <div class="bd-highlight d-none d-md-block d-lg-block">
                                <a href="#" target="_blank" class="p-3"><img src="../../../assets/img/electrobits-repuestos-ingenieria-webpay.png" width="170px" alt="electrobits-repuestos-ingenieria-webpay"></a>
                            </div>
                            <div class="bd-highlight d-sm-block d-md-none d-lg-none">
                                <a href="#" target="_blank" class="p-3"><img src="../../../assets/img/electrobits-repuestos-ingenieria-webpay-movil.png" width="150px" alt="electrobits-repuestos-ingenieria-webpay"></a>
                            </div>
                          </div>
                      
                    </div>
                </div>
            </div>
            
        </div>
    </div>
  
