<span class="ir-arriba icon-arrow-up2"><i class="fas fa-arrow-up"></i></span>

<app-header></app-header>
<app-slide></app-slide>
<app-section1></app-section1>
<app-section2></app-section2>
<app-contact></app-contact>


<!-- <section>
  <div class="container">
    <div class="row"> 
      <div class="col">
        <hr>
  <button class="btn btn-primary" (click)="ocultarPeliculas()">ocultar peliculas</button>
  <div ngif="mostrarPeliculas">
    <app-pruebas></app-pruebas>

  </div>

  btn


  <mi-componente></mi-componente>
 
      </div>
    </div>
  </div>
</section> -->


  
 

